.even{ background:#F5F5F5;}
.odd{ background:#f9f9f9;}
.deftr{ background:#ffffff;}
.selected{ background:none repeat scroll 0 0 #c1ffc1; color:#000;}
.mouseover{ background: #eff4f7;}
.mouseovertr{ background: #ffffff;}
